[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/debbiedub
[access "refs/for/refs/*"]
	read = group user/debbiedub
	push = group user/debbiedub
	label-Code-Review = -2..+2 group user/debbiedub
	label-Verified = -1..+1 group user/debbiedub
	rebase = group user/debbiedub
	removeReviewer = group user/debbiedub
	submit = group user/debbiedub
[access "refs/heads/*"]
	read = group user/debbiedub
	create = group user/debbiedub
	push = +force group user/debbiedub
	pushMerge = group user/debbiedub
[access "refs/tags/*"]
	push = +force group user/debbiedub
	pushTag = group user/debbiedub
	pushSignedTag = group user/debbiedub
